<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483690630728-vi371ubv4lvam7dvlcsispa5uqurd4km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483690630728-vi371ubv4lvam7dvlcsispa5uqurd4km</string>
	<key>API_KEY</key>
	<string>AIzaSyBf9y79rQ93llDKO7JhDbTxLMJFFy2-gFE</string>
	<key>GCM_SENDER_ID</key>
	<string>483690630728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medquest.medquestadm</string>
	<key>PROJECT_ID</key>
	<string>medquest-81996</string>
	<key>STORAGE_BUCKET</key>
	<string>medquest-81996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483690630728:ios:717f23b5764c907633927d</string>
</dict>
</plist>